

.view-display-id-page_3 .view-content {
    height: 370px;
    overflow: scroll;
    width: 790px;
}

.one-sidebar #content {
    width: 820px;
}





.view.view-video-gallery.view-id-video_gallery {
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
}

/*add destince page node class in fron of content class below*/
.content {
   
    width: 1200px;
}



.view-filters {
    order: 1;
    position: absolute;
    top: 5%;

}

.view-header {
    width: 100%;
    order: 2;
}

.view-display-id-page_3 .view-content {
    height: 450px;
    overflow: auto;
    width: 400px;
    order: 3;
    margin-left: 1rem;
}


.views-field.views-field-field-image-upload img {
    width: 130px;
    height: 130px;
}



.views-exposed-form {
    display: flex;
    padding-top: 2rem;
}

#mediafront_video_gallery_1 .ui-widget-content {

    background: black;
 
}

div#main-wrapper {
    background: #5a5a5a;
}

.view.view-video-gallery.view-id-video_gallery {
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
}

div#main {
    margin-left: 2rem;
}


.view.view-video-gallery.view-id-video_gallery td {
    padding: 0px;
    border: none;
    text-align: center;
    background: transparent;
}

input#edit-field-keywordsearch-tid {
    width: 350px;
    height: 25px;
    background: deepskyblue;
    border: none;
    border-bottom: 3px solid white;
}

h1#page-title {
    color: white;
}

div#edit-field-keywordsearch-tid-wrapper label {
    color: #cccccc;
}


option {
    display: inline-block;
    background: rebeccapurple;
    padding: 1rem;
    margin: .5rem;
}

select#edit-field-tagging-tid:focus {
    outline: none;
}



