#embed {
  margin-bottom: 10px;
}

#wrapper {
  width: 100%;
  //height: 290px;
  margin: 0 auto;
}

#thumbs {
  overflow: hidden;
  /* fix ie overflow issue */
  position: relative;
  height: 102px;
  border: 1px solid #ccc;
}
#embed {
  background: #000;
}
#embed iframe {
  min-width: 100%;
  min-height: 400px;
}


/* remove the list styles, width : item width * total items */
#thumbs ul {
  position: relative;
  left: 0;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 750px;
}

/* width of the item, in this case I put 250x250x gif */
#thumbs li {
  width: 100px;
  height: 75px;
  float: left;
  text-align: center;
  margin: 10px;
}

#thumbs li a {
  padding: 5px;
}

/* Styling for prev and next buttons */
#buttons {
  padding: 0 0 5px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#buttons a {
  display: block;
  /*text-indent:-999em;*/
  float: left;
  outline: 0;
}

a#prev,
a#next {
  /*background:#d2d2d;*/
  display: inline-block;
  padding: 3px 6px;
  font-size: 15px;
  color: #000;
  border-radius: 3px;
}
a#next {
  float: right;
}
